@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Manrope", sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.inner_container{
    /* max-width: 1304.85px; */
    margin: 0 auto;
}
/* NAV BAR  */
span{
    display: block;
   
}
.harmburger{
    display: none;
}
.logo img{
    height: 23px;
}
.arrow-down{
    width: 12px;
    height: 6px;
    margin-left: 16px;
}
.requestBtn{
    display: flex;
    align-items: center;
}
.btn_icon{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 30px 103px 30px 103px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #0000000D;
    position:sticky;
    top:0;
    z-index: 999;
    background-color:#fff;
}
.navLinks{
    display: flex;
}
.home{
    color: #065666;

}
.navLinks li {
    display: flex;
    font-size: 20px;
}
.navLinks > li+li{
    margin-left: 54px;
}
.btn_primary{
background-color: #6FC247;
height: 75px;
font-size: 20px;
/* padding:24px 40px 24px 40px; */
width: 278px;
border-radius: 16px;
color:#fff;
cursor: pointer;
border: none;
}
.loginBtn{
    background-color: #ffff;
    border:1px solid #6FC247;
    height: 75px;
    font-size: 20px;
    color:#6FC247;
/* padding:24px 40px 24px 40px; */
  width: 278px;
  border-radius: 16px;
  margin-left: 32px;
}
.heroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lead{
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    padding-top: 64px;
}
.lead_text{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 971px;
    padding-top: 32px;
}
.btns{
    display: flex;
    padding-top: 32px;
}
.hero-image{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    padding: 119px 0 16px 0;
}
.teams{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 32px;
}
.companyList{
    width:1282px;
    height:399px;
    margin:  auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(3,117px) ;
    column-gap: 18px;
    row-gap: 24px;

}
.services{
    background-color: #111111;
}
.container{
    /* width:893px; */
    margin: 0 auto;
}
.services-header{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color:#ffff;
    padding-top: 72px;
}
.service-paragraph{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color:#D7D7D7;
    padding-top: 16px;
}
.whatWeDo{
    display: flex;
    align-items: center;
    padding-top: 64px;
    /* padding: 64px 10.5px 0 10.5px; */
    justify-content: center;
    /* width: 1306px; */
    /* margin:0 auto ; */
}
.whatWeDo > *+*{
    margin-left: 60.5px;
}
.secure{
    font-size: 24px;
    font-weight: 500;
    color:#ffff;
}
.info{
    font-size: 20px;
    font-weight: 500;
    padding: 24px 0 72px 0;
    color:#D7D7D7;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .article-container{
    display: flex;
    justify-content: space-between;
    width: 1304px;
    height: 693px;
    margin: 0 auto;
} */
.article-container {
    display: flex;
    justify-content: space-between;
    max-width: 1304px;
    width: 100%; /* Change to 100% to make it responsive */
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .article-image,
 .articles {
    flex: 1 1 50%; /* Equal width for both children, adjusting for wrapping */
    min-width: 0; /* Ensure flex items can shrink */
    display: flex; /* Nested flexbox for vertical alignment */
    flex-direction: column;
    padding: 15px;; /* Stack items vertically */
}
.article >.header {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 69px;
}
.article >.info{
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align:center ;
    color:#373737;
    /* width:1062px; */
}
.articles >*+*{
    margin-top: 24px;
}
.article-width{
    /* width:477px; */
    /* height:225px; */
    padding: 32px;
    /* border: 1px solid red; */
}
.article-three{
    /* height: 195px; */
}
.article-heading{
    color: #373737;
    font-weight: 800;
    padding-bottom: 8px;
    font-size: 24px;
}

.article-info{
    font-size: 20px;
    color:#000000;
    font-weight: 500;
    /* width: 413px; */
}
/* .article-image{
    height:693px;
    width:731px;
}
.article-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.article-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .article-image,
.article-texts {
  align-items: stretch; /* Stretch items to match each other's height */
}
.close-btn{
    padding: 80px 0 69px 0;
}
.menu-close{
    display: none;
}
.navbarMobile{
    display: none;
}
@media (max-width:1024px){
    .navLinks, .requestBtnNav{
        display: none;
    }
    .harmburger{
        display: block;
    }
}
@media (max-width:840px) {
    *{
        overflow-x: none;
    }
    .navBar{
        /* padding:40px; */
        display: none;
    }
    .inner_container{
        /* max-width: 840px; */
        margin: 0 auto;
        width:90%;
        /* border:3px solid blue; */
    }
    .navLinks, .requestBtnNav{
        display: none;
    }
    .harmburger{
        display: block;
    }
    .navbarMobile{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        width:90%;
        margin: 0 auto;
        padding:10px 0;
    }
    .home{
        padding-top:30px;
    }
    #menu-close{
        font-size:20px;
        font-weight:500;
        display:none;
    }
    .navMenu{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        animation-name: grow;
        background-color: #fff;
        height:100vh;
        /* animation-delay: 1s; */
       animation-timing-function:ease-in;
        animation-duration:2s;
    }
    @keyframes grow {
        0%{width: 0;};
        100% {width:100%};
    }
    .navMenu li{
        margin-top:20px;
    }
    .navMenu li {
        text-decoration: none;
        list-style: none;
    }
    .lead{
        font-size: 40px;
    }
    .lead_text{
        font-size: 20px;
        width:100%;
    }
    span{
        display: inline;
    }
     .hero-image{
        height:382px;
        max-width:754px;
    }
    .hero-image img{
        width: 100%;
        height: 100%;
    } 
    .company{
        font-size: 24px;
    }
    .teams{
        font-size: 18px;
        /* width: 754px; */
    }
    .companyList{
        /* width: auto;Adjust the width to take full width */
        grid-template-columns: repeat(3, 1fr); /* Change the number of columns to 2 */
        grid-template-rows: repeat(auto-fit, minmax(80px, 1fr)); /* Adjust the rows to be responsive */
        row-gap: 10px;
    }
    .companyLogo{
        width: 100%; /* Make sure the logo takes full width of its container */
        height: auto;
    }
    .companyLogo img{
        width:100%;
        height:100%;
    }
    .services-header{
        font-size: 24px;
    }
    .service-paragraph{
        font-size: 18px;
        /* width:754px; */
        margin: 0 auto;
    }
    .whatWeDo{
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    .whatWeDo > *+*{
        margin-left: 0px;
    }
    .info{
        font-size: 16px;
    }
    .secure{
        font-size:18px;
    }
    .article >.header{
        font-size: 24px;
    }
    .article >.info{
        font-size: 18px;
        width:100%;
    }
    .article-container{
        width:100%;
        /* height:369px; */
        /* flex-direction: column; */
    }
    .article-width{
        /* width: 369px; */
        /* height:210px; */
        padding:0px;
        font-size: 15px;
    }
    /* .article-image{
        height:643px;
        width:369px
    } */
    .article-info{
        font-size: 16px;;
        /* width:329px; */
    }
    .close-btn{
        padding: 4rem 0 0 0 ;
    }
}
@media(max-width:730px){
    *{
        /* border:1px solid green; */
    }
    .companyList{
        width:90%;
    }
    .article-info {
        /* width: 320px; */
        font-size: 16px;
        padding:10px;
    }
    /* .article-image {
        height: 600px;
        width: 500px;
    } */
    /* .article-width{
        width:auto;
        height:auto;
    } */
    
}
@media (max-width:568px) {
    .inner_container{
        /* max-width: 840px; */
        margin: 0 auto;
        width:90%;
        /* border:3px solid blue; */
    }
    .navBar{
        padding:24px  32px 
    }
    .lead {
        font-size: 32px;
    }
    .lead_text {
        font-size: 16px;
    }
    .company{
        font-size: 20px;
    }
    .companyList {
        /* width: 100%; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
        row-gap: 10px;
        height:auto;
    }
    .teams{
        font-size: 16px;
    }
    .services-header {
        font-size: 20px;
    }
    .service-paragraph{
        font-size: 16px;
    }
    .services{
        height:auto;
    }
    .article >.header {
        font-size: 20px;
    }
    .article >.info {
        font-size: 16px;
    }
    .article-heading{
        font-size: 17px;
    }
    .article-info{
        font-size: 16px;
    }
    .article-container {
        flex-direction: column-reverse;
        height:auto;
    }
    /* .article-image {
        height: 310px;
        width: 369px;
    } */
    .article-width{
        /* width:325px; */
        height:161px;
    }
    .close-btn {
        padding: 1rem 0 0 0;
    }
}
@media(max-width:659px){
       .btn_primary,.loginBtn{
            width:152px;
            height:44px;
            padding:12px, 8px, 12px, 8px;
            border-radius: 8px;
            font-size: 14px;
        }
    
}
@media (max-width:385px){
    /* .article-image {
        height: 310px;
        width: 300px;
    } */
    .article-info {
        /* width: 300px; */
    }
    .loginBtn{
        margin-left: 15px;
    }
}
